<div>

  <h1>Phx Live Editable</h1>

  <.test_menu title="Test3"/>

  <br/>

  <div class="font-bold">ONE</div>
  <.live_component
    module={Phoenix.Editable.Base} 
    id="one"
    ple-event-focus="focus1" 
    ple-render-data={@data1} 
  />

  <div class="mt-10 font-bold">TWO</div>
  <.live_component
    module={Phoenix.Editable.Base} 
    id="two"
    ple-event-focus="focus2" 
    ple-render-data={@data2} 
  />

  <p></p>

</div>
