<div>

  <h1>Phx Live Editable</h1>

  <.test_menu title="Test6"/>

  <div class="mt-5 mb-5 font-bold">
    Phoenix.Editable.Base type=text
  </div>

  <div class="mt-5 mb-5">
    start
  </div>

  <div class="mt-5 mb-5">
    <.live_component module={Phoenix.Editable.Base} id="one" ple-data="asdf"/>
  </div>

  <div class="mt-5 mb-5">
    <.live_component module={Phoenix.Editable.Base} id="two" ple-data="qwer"/>
  </div>

  <div class="mt-5 mb-5">
    end
  </div>

</div>
