<div>

  <h1>Phx Live Editable</h1>

  <.test_menu title="Test1"/>

  <br/>

  <p class="mt-5 mb-5 font-bold">Text Fields - Component Data Source</p>

  <div class="mt-5 mb-5">
  <p>Phoenix.Editable.Base</p>
  <%= for {lcl_id, data} <- @data do %>
    | <%= lcl_id %>: <.live_component id={"b_" <> lcl_id} module={Phoenix.Editable.Base} ple-data={data}/> <br/>
  <% end %>
  </div>

  <div class="mt-5 mb-5">
  <p>Phoenix.Editable</p>
  <%= for {lcl_id, data} <- @data do %>
    | <%= lcl_id %>: <Phoenix.Editable.text value={data}/> <br/>
  <% end %>
  </div>

</div>
