<div>

  <h1>Phx Live Editable</h1>

  TEST5 

  <table>
    <tr>
      <td>
        <b>Item1:</b><br/>using the `live_component` helper.
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <b>Item2:</b><br/>using the `.ple` helper with null data. 
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <b>Item3:</b><br/>using the `.ple` helper with specific data.
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <b>Item4:</b><br/>using the `live_editable` helper.
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <b>Item5:</b><br/>
          - datasrc in the view instead<br/>
          - using a defined handler (T5Handler)
      </td>
      <td>
        <br/>
        <%= @viewdata %>
      </td>
    </tr>
  </table>

</div>
