<div>

  <h1>Phx Live Editable</h1>

  <.test_menu title="Test1"/>

  <br/>

  <p class="mt-5 mb-5 font-bold">Text Fields - Component Data Source</p>

  <div class="mt-5 mb-5">
  <p>Phoenix.Editable.Base</p>
  <%= for {gid, gdata} <- @data1 do %>
    | <%= gid %>: <.live_component 
                       id={gid} 
                       module={Phoenix.Editable.Base} 
                       ple_focus="focus1"
                       ple_target={nil}
                       ple_data={gdata}
                     /> <br/>
  <% end %>
  </div>

  <div class="mt-5 mb-5">
  <p>Phoenix.Editable</p>
  <%= for {gid, gdata} <- @data2 do %>
    | <%= gid %>: <%# <Phoenix.Editable.text 
                    id={gid} 
                    value={gdata}
                    ple_focus="focus2"
                   />  %>
    <br/>
  <% end %>
  </div>

</div>
