<div>

  <h1>Phx Live Editable</h1>
  <p><b>Test2</b></p>

  <.live_component module={Phoenix.LiveEditable} interface={@interface} focusid={@focusid} type="text" id={@id} submit="save" data={@data}/> <br/>

  <p></p>

  Data: <%= @data %>

  <p></p>

</div>
