<div>

  <h1>Phx Live Editable</h1>

  <.test_menu title="Test2"/>

  <br/>

  <p class="mt-5 mb-5 font-bold">Empty Text Field</p>

  <.ple id={@id} data={@data}/> <br/>

  <p></p>

  Data: <%= @data %>

  <p></p>

</div>
