<div style='text-align: center;'>

  <h1>Phoenix Live Editable</h1>

  <div style="padding: 20px;">
    <%= raw Helpers.navlinks(@url) %>
  </div>
  
  <div>
    Milligram Content TBD 
  </div>

</div>

