<div>

  <h1 class="p-5">Tailwind3 Test Page</h1>

  <.test_menu title="Test1"/>

  <br/>

  <%= for {lcl_id, data} <- @data do %>
    | <%= lcl_id %>: <.ple type="text" id={lcl_id} ple-data={data}/> <br/>
  <% end %>

</div>
